h1,
h2,
h3,
h5,
span,
p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  text-transform: uppercase;
}

.myoutput {
  padding: 10px;
}

input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

button { margin: 10px 0px;}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.grid-item {
  height: auto;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 2;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

/* Code */

code > * {
  font-family: 'Courier New', Courier, monospace !important;
  font-size: inherit !important;
  background: #ffeff0;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
}
